<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Davis Designs and Sites</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script
      src="https://kit.fontawesome.com/b9ed894285.js"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/app.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <img class="brand" src="../images/brand.png" />
      <i id="burger" class="fas fa-bars burger" onclick="menuToggle()"></i>
      <div id="navMenu" class="nav-menu">
        <div>
          <a class="menu-links" href="../../index.html">Home</a>
          <a class="menu-links" href="./assets/views/projects.html">Projects</a>
          <a class="menu-links" href="./assets/views/contact.html"
            >Contact Me</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
