<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Davis Designs and Sites</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script
      src="https://kit.fontawesome.com/b9ed894285.js"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/app.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <img class="brand" src="../images/text-logo.png" />
      <i id="burger" class="fas fa-bars burger" onclick="menuToggle()"></i>
      <div id="navMenu" class="nav-menu">
        <div>
          <a class="menu-links" href="../../index.html">Home</a>
          <a class="menu-links" href="./about.html">About</a>
          <a class="menu-links" href="./projects.html">Projects</a>
        </div>
      </div>
    </div>
    <div class="contact-content">
      <div class="contact-header-container">
        <h1>Contact Me</h1>
        <p>
          Please reach out to me for any questions, feedback, or projects that
          you have.
        </p>
        <img src="../images/contact-pic.jpg" />
      </div>
      <div class="contact-name-container">
        <div class="contact-name-heading">
          <h1>Christopher Davis</h1>
          <h2>Front-End Developer/UX Designer</h2>
        </div>
      </div>
      <div class="contact-box-container">
        <div class="box">
          <p>Mobile</p>
        </div>
        <div class="box">
          <p>Email</p>
        </div>
        <div class="box">
          <p>Facebook</p>
        </div>
        <div class="box">
          <p>Instagram</p>
        </div>
      </div>
    </div>
  </body>
</html>
