<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script
      src="https://kit.fontawesome.com/b9ed894285.js"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/app.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <img class="brand" src="../images/text-logo.png" />
      <i id="burger" class="fas fa-bars burger" onclick="menuToggle()"></i>
      <div id="navMenu" class="nav-menu">
        <div>
          <a class="menu-links" href="../../index.html">Home</a>
          <a class="menu-links" href="./about.html">About</a>
          <a class="menu-links" href="./contact.html">Contact Me</a>
        </div>
      </div>
    </div>
    <div class="projects-container" id="projectsContainer">
      <div class="projects-section">
        <h1>Projects</h1>
        <div class="projects-heading-text">
          <p>
            I'm a web developer first but with the power of photoshop I can
            create composite images, double exposure images, brands, and more!
          </p>
        </div>
        <div class="projects-toggle">
          <p class="sites-toggle" onclick="siteToggle()">Sites</p>
          <span>|</span>
          <p class="designs-toggle" onclick="designsToggle()">Designs</p>
        </div>
        <div class="project">
          <a href="https://www.rcphotsprings.com" target="_blank">
            <img src="../images/Royal-const.JPG"
          /></a>
          <p class="project-heading">Royal Construction and Plumbing</p>
          <div class="project-text">
            <p>
              This independant contractor needed a web portfolio to use at in
              person bids and boost his online presence.
            </p>
          </div>
        </div>
        <div class="project">
          <a href="https://chrisdavis0375.github.io/Dice/" target="_blank">
            <img src="../images/dice.JPG" />
          </a>
          <p class="project-heading">Dice Game</p>
          <div class="project-text">
            <p>A game of chance I made just for fun using javascript.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="designs-container" id="designsContainer">
      <div class="designs-section">
        <div class="designs-heading">
          <h1>Projects</h1>
          <div class="projects-heading-text">
            <p>
              I'm a web developer first but with the power of photoshop I can
              create composite images, double exposure images, brands, and more!
            </p>
          </div>
          <div class="projects-toggle">
            <p id="siteToggle" class="sites-toggle" onclick="siteToggle()">
              Sites
            </p>
            <span>|</span>
            <p
              id="designsToggle"
              class="designs-toggle"
              onclick="designsToggle()"
            >
              Designs
            </p>
          </div>
        </div>
        <div class="designs">
          <div class="design"><img src="../images/mars-composite.png" /></div>
          <div class="design">
            <img src="../images/color-splash-effect.png" />
          </div>
          <div class="design">
            <img src="../images/disintegration-effect.png" />
          </div>
          <div class="design">
            <img src="../images/smoke-portrait-display.png" />
          </div>
          <div class="design">
            <img src="../images/Royal-construction-logo.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>2020 Copyright &copy; Christopher Davis | Davis Designs and Sites</p>
    </div>
  </body>
</html>
